<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NFT Chatbot</title>
    <style>
    h1 {
        color: black;
        font-family:Georgia, 'Times New Roman', Times, serif;
        font-size: 50px;
        text-align: center;
        background-color: hsla(266, 57%, 52%, 0.596);
        line-height: 2;
        border: 3px solid black;
        width: 100%;
        max-width: 100%;
    }

    #box {
        float: left;
        height: 100px;
        width: 145px;
    }
    </style>
</head>
<body>
    <h1><img id = "box" src = "bot.jpg" alt="">NFT ChatBot</h1>
    <iframe src='https://webchat.botframework.com/embed/Chatbot-NFTz-bot?s=YZMo2hFbmAw.X052gLrB39UOpSaA47EYI2qRYlD6Nk4Dd_Jy6XtG2Co'  style='min-width: 400px; width: 100%; min-height: 500px;'></iframe>
</body>
</html>